.App {
    text-align: center;
}

.title {
    margin-top: 100px;
    color: white;
}

.subtitle {
    margin-top: 10px;
    color: white;
}

.uiNavbar {
    background-color: transparent;
    margin-left: 100px;
}

.background-image { 
    height: 500px;
    background-size: cover;
}

.uiNavBrand {
    margin-left: 15px;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: white;
}

.uiNavLogo {
    height: 100%;
    width: 100px;
}

.uiNavLinks {
    color: white;
    font-family: 'Monda', sans-serif;
}

.uiNavLinks:hover {
    color: lightblue;
    font-family: 'Monda', sans-serif;
}

.uiLinkInput {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Monda', sans-serif;
}

.uiInput {
    width: 50%;
}

.uiInputBox {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 14px !important; 
    height: auto !important;
}

.uiInputBox:focus {
    border-color: #ee6123;
    box-shadow: none;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 14px !important; 
    height: auto !important;
}

.uiButton {
    background-color: #ee6123;
    font-size: 14px !important;
    color: white;
}

.uiButton:focus {
    background-color: #ee6123;
    font-size: 14px !important;
    color: white;
    box-shadow: none;
}
